@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Comic Relief", "poppins";
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
}

html {
    scroll-behavior: smooth;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(img/User1.png);
    background-size: cover;
    background-position: center;

}

.container {
    padding: 10px 6%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

nav ul {
    border-radius: 10px;
    margin: 10px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    text-decoration: none;
    padding: 10px 15px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 35px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 25px;
}

.header-text h1 {
    margin-top: 20px;
    font-size: 55px;
}

.header-text h1 span {
    color: #ff004f;
}

/* ------------------------ About ------------------------- */

#about {
    padding-top: 25px;
    padding-bottom: 0px;
    color: #bcbcbc;
}

.container-about {
    background: #2626267c;
    padding: 65px 30px;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-2 {
    text-align: center;
    flex-basis: 80%;
    margin-left: 125px;
}

.about-col-2 p {
    text-align: center;
    font-size: 27px;
    line-height: 45px;
    margin-bottom: 40px;

}

.sub-title {
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 25px;
}

.tab-title {
    display: flex;
    text-align: center;
    margin: 20px 0 65px;
}

.tab-title p {
    text-align: center;
    margin: auto;
    font-size: 27px;
}

.tab-links {
    margin-right: 50px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-content ul li {
    list-style: none;
    margin: 25px 0;
    font-size: 25px;
}

.tab-content ul li span {
    color: #ff004f;
    font-size: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active-tab {
    display: block;
}

/* -------------------Certifications And Achievements------------------- */

#certifications {
    padding: 30px 0px;
}

.container-certi {
    background: #2626267c;
    padding: 65px 30px;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-gap: 40px;
    margin-top: 110px;
}

.card-list div {
    background: #262626;
    padding: 45px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: transform 0.5s;
}

.card-list div i {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ff004f;
}

.card-list div h2 {
    font-size: 22px;
}

.card-list div:hover {
    transform: translateY(-10px);
}

/* <!-- -------------------Academic & Personal Projects------------------- --> */

#project {
    padding: 0px 0;
    margin-top: 0px;
}

.container-project {
    background: #2626267c;
    padding: 65px 30px;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 70px;
}

.pro img {
    /* height: 80px; */
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.pro {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

/* .project-list div{
    background: #262626;
    padding: 10px;
} */
.pro:hover img {
    transform: translateY(-10px);
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0.6, 0, 0, 0), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    font-size: 12px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 18px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center;
}

.pro:hover .layer {
    height: 100%;
}

/* <!-- --------------------------Contact----------------------------- --> */

#contact {
    margin-top: 30px;
}

.container-contact {
    background: #2626267c;
    padding: 75px 10px 30px;
}

.contact-left {
    flex-basis: 35%;
    margin-left: 30px;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
    font-size: 15px;

}

.contact-left p i {
    color: #ff004f;
    margin-right: 15px;
    font-size: 20px;
}

.social {
    margin-top: 30px;
}

.social a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social a:hover {
    color: #ff004f;
    transform: translateY(-5px);
}

.btn {
    display: block;
    border-radius: 6px;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    text-decoration: none;
    padding: 14px 50px;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}

.btn.btn2 {
    display: inline-block;
    background: #ff004f;
}

.contact-right form {
    width: 90%;
    margin-left: 50px;
}

form input,
form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 25px;
    margin: 15px 0px;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright {
    width: 100%;
    font-weight: 300;
    text-align: center;
    padding: 10px 0;
    background: #262626;
}

/* <!-- --------------------------Media Queries----------------------------- --> */

nav .fas {
    display: none;
}

@media only screen and (max-width: 700px) {
    #header {
        background-image: url(img/user.png);
    }

    #about {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    #certifications {
        padding: 15px 0px;
    }

    #contact {
        margin-top: 15px;
    }

    .header-text {
        margin-top: 155%;
        font-size: 14px;
    }

    .header-text h1 {
        font-size: 25px;
    }

    nav .fas {
        display: block;
        font-size: 20px;
        position: absolute;
        top: 25px;
        right: 20px;
    }

    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 170px;
        height: 100vh;
        padding-top: 50px;
        margin-top: 0px;
        border-radius: 5px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px;
        margin-left: 10px;
        margin-top: 20px;

    }

    nav ul .fas {
        position: absolute;
        left: 25px;
        top: 25px;
        cursor: pointer;
    }

    nav ul li a {
        font-size: 17px;
    }

    nav ul li a::after {
        content: "";
        width: 0;
        height: 3px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    nav ul li a:hover::after {
        width: 100%;
    }

    .sub-title {
        font-size: 20px;
    }

    .about-col-2 {
        flex-basis: 100%;
        font-size: 14px;
        margin: auto;
    }

    .about-col-2 p {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 20px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }

    .tab-content ul li {
        font-size: 13px;
        margin: 15px 0px;
    }

    .tab-content ul li span {
        font-size: 14px;
    }

    .tab-title {
        margin: 20px 0 30px;
    }

    .card-list {
        margin-top: 75px;
    }

    .card-list div {
        font-size: 12px;
    }

    .card-list div h2 {
        font-size: 16px;
    }

    .card-list div i {
        font-size: 30px;
    }

    .project-list {
        margin-top: 60px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
        margin: 0px 15px;
    }

    .contact-right form {
        margin: auto;
    }

    .container-contact {
        padding: 65px 10px 30px;
    }

    form .btn2 {
        padding: 10px 20px;
        font-size: 14px;
        margin-top: 0px;
    }

    .social a {
        font-size: 20px;
    }

    .copyright {
        font-size: 10px;
    }

}